<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            MyServletLogin.do
        </welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MyServletLogin</servlet-name>
        <servlet-class>controler.MyServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletLivre</servlet-name>
        <servlet-class>controler.MyServletLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletLocation</servlet-name>
        <servlet-class>controler.MyServletLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletSignIn</servlet-name>
        <servlet-class>controler.MyServletSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletExemplaire</servlet-name>
        <servlet-class>controler.MyServletExemplaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletHistorique</servlet-name>
        <servlet-class>controler.MyServletHistorique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletCotisation</servlet-name>
        <servlet-class>controler.MyServletCotisation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletAdmin</servlet-name>
        <servlet-class>controler.MyServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletManageBibliotheque</servlet-name>
        <servlet-class>controler.MyServletManageBibliotheque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletAddBook</servlet-name>
        <servlet-class>controler.MyServletAddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletManageManager</servlet-name>
        <servlet-class>controler.MyServletManageManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletAvisNote</servlet-name>
        <servlet-class>controler.MyServletAvisNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletQuestion</servlet-name>
        <servlet-class>controler.MyServletQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletMessagerie</servlet-name>
        <servlet-class>controler.NewServletMessagerie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletMessagerie</servlet-name>
        <servlet-class>controler.MyServletMessagerie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletRepondreMessagerie</servlet-name>
        <servlet-class>controler.MyServletRepondreMessagerie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletDisconect</servlet-name>
        <servlet-class>controler.MyServletDisconect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletConsulterAvis</servlet-name>
        <servlet-class>controler.MyServletConsulterAvis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletRendreLivre</servlet-name>
        <servlet-class>MyServletRendreLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletRendreLocation</servlet-name>
        <servlet-class>controler.MyServletRendreLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletModifyProfil</servlet-name>
        <servlet-class>controler.MyServletModifyProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletGestionLocation</servlet-name>
        <servlet-class>controler.MyServletGestionLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletSupprimerExemplaire</servlet-name>
        <servlet-class>controler.MyServletSupprimerExemplaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletPayerAmende</servlet-name>
        <servlet-class>controler.MyServletPayerAmende</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletSearch</servlet-name>
        <servlet-class>controler.MyServletSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controler.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletAddLivre</servlet-name>
        <servlet-class>controler.MyServletAddLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletCentreService</servlet-name>
        <servlet-class>controler.MyServletCentreService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CentreServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServletLogin</servlet-name>
        <url-pattern>/MyServletLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletLivre</servlet-name>
        <url-pattern>/MyServletLivre.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletLocation</servlet-name>
        <url-pattern>/MyServletLocation.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletSignIn</servlet-name>
        <url-pattern>/MyServletSignIn.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletExemplaire</servlet-name>
        <url-pattern>/MyServletExemplaire.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletHistorique</servlet-name>
        <url-pattern>/MyServletHistorique.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletCotisation</servlet-name>
        <url-pattern>/MyServletCotisation.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletAdmin</servlet-name>
        <url-pattern>/MyServletAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletManageBibliotheque</servlet-name>
        <url-pattern>/MyServletManageBibliotheque.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletAddBook</servlet-name>
        <url-pattern>/MyServletAddBook.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletManageManager</servlet-name>
        <url-pattern>/MyServletManageManager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletAvisNote</servlet-name>
        <url-pattern>/MyServletAvisNote.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletQuestion</servlet-name>
        <url-pattern>/MyServletQuestion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletMessagerie</servlet-name>
        <url-pattern>/NewServletMessagerie.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletMessagerie</servlet-name>
        <url-pattern>/MyServletMessagerie.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletRepondreMessagerie</servlet-name>
        <url-pattern>/MyServletRepondreMessagerie.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletDisconect</servlet-name>
        <url-pattern>/MyServletDisconect.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletConsulterAvis</servlet-name>
        <url-pattern>/MyServletConsulterAvis.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletRendreLivre</servlet-name>
        <url-pattern>/MyServletRendreLivre.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletRendreLocation</servlet-name>
        <url-pattern>/MyServletRendreLocation.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletModifyProfil</servlet-name>
        <url-pattern>/MyServletModifyProfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletGestionLocation</servlet-name>
        <url-pattern>/MyServletGestionLocation.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletSupprimerExemplaire</servlet-name>
        <url-pattern>/MyServletSupprimerExemplaire.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletPayerAmende</servlet-name>
        <url-pattern>/MyServletPayerAmende.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletSearch</servlet-name>
        <url-pattern>/MyServletSearch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletAddLivre</servlet-name>
        <url-pattern>/MyServletAddLivre.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServletCentreService</servlet-name>
        <url-pattern>/MyServletCentreService.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CentreServiceImplService</servlet-name>
        <url-pattern>/CentreServiceImplService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
